@import url('https://fonts.googleapis.com/css2?family=Roboto');
*{
  margin: 0;
  padding: 0;
font-family: 'Roboto', sans-serif;
}
.activebtn{
  color: #ED553D;
}



.header-background{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(74, 81, 89, 0.5),rgba(74, 81, 89, 0.5)),
url('../images/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.nav-trans{
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 55;
background-image: linear-gradient(rgba(74, 81, 89, 0.7) ,rgba(74, 81, 89, 0.7));
}
.logo{
  line-height: 100px;
}
.logo{
  line-height: 100px;
  position: absolute;
}
.btn-orange{
  background: #ED553D;
  color: #fff;
}

.btn-orange:hover{
  background: #fff;
}

.nav-menu{
  list-style: none;
  float: right;
  margin-top: 30px;
}

.nav-menu li{
  display: inline-block;

}

.nav-menu li a{
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.nav-menu li a:hover{
  transition: 0.3s;
  color: #ED553D;
}

.body-content{
  color: #fff;
  margin: auto;
  width: 80%;
  padding: 10px;
text-align: center;
margin-top: 250px;

}
.body-content p{
  font-weight: 800;

}
.body-content h1{
  font-weight: 800;
  font-size: 50pt;
  padding: 30px;
}
.orangetext{
  color: #ED553D;

}
.btnpress{
  text-decoration: none;
  padding: 10px 40px;
  background: #ED553D;
  color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.btnpress:hover{
  text-decoration: none;
  color: #ED553D;
  background: #fff;
  transition: all 0.3s;
}

.headliness{
text-align: center;
}
.program{
  height: auto;
  padding-bottom: 100px;
}
.divider{
  padding: 15px;
    background-size: cover;

}

.headliness h4{
  margin-top: 60px;
    font-weight: 600;
}
.headliness p{
  padding: 20px;
  display: block;

}

.key-features{
  float: left;
  margin-top: 70px;
}

.icons{
  background: #ED553D;
  float: left;
  height: 100px;
  width: 100px;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}
.key-features img{
  height: 60%;
  width: 60%;
  align-self: center;
}
.key-info{
  padding-left: 115px;
}
.key-info h5{
  font-weight: bold;
}
a:hover{
  text-decoration: none;
}
.key-info a{
  text-decoration: none;
  font-weight: bold;
}
.highlight{
  height: 400px;
  background-image: linear-gradient(rgba(74, 81, 89, 0.5),rgba(74, 81, 89, 0.5)),
  url('../images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;

}

.contact-us{
  background-image: linear-gradient(rgba(74, 81, 89, 0.5),rgba(74, 81, 89, 0.5)),
  url('../images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  height: 500px;
}

.highlight h1{
  font-weight: bold;
}
.highlight-data{
  margin-top: 100px;
}
/*
.tranning-section{
  list-style: none;
}
.tranning-section a{
  text-decoration: none;
}
.tranning-section li:hover{
  text-decoration: none;
  background: #ED553D;
  color: #fff;
  text-decoration: none;

}
*/




.tranning-section li{
    width: 70%;
    display: block;
    padding: 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}
.tranning-image{
  height: 300px;
  background-image: linear-gradient(rgba(74, 81, 89, 0.5),rgba(74, 81, 89, 0.5)),
  url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ulorderlist{
  list-style: none;
  display: block;
}

.ulorderlist a{
  text-decoration: none;
}

.ulorderlist li{
  background: #f2f2ff;
  padding: 20px 50px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ulorderlist li:hover + a{
  color: #ED553D;
  text-decoration: none;
}
.ulorderlist li a{

  padding: 20px 0;
text-decoration: none;
}
.logop button{
  display: none;
}

.table tr td{
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  padding-top: 38px;
  color: #fff;
}

.bgset{
  background-image: linear-gradient(rgba(74, 81, 89, 0.5),rgba(74, 81, 89, 0.5)),
  url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.day-selector{
  text-align: center;
  margin-bottom: 20px;
}
.day-selector a{
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;

}
.social-handle{
  list-style: none;
}
.social-handle li{
  display: inline-block;
}
.social-handle li a{
  padding: 5px 15px;
  text-decoration: none;
}

iframe{
  position: absolute;
  width: 50%;
}





























@media only screen and (max-width: 1180px) {
  .nav-menu{
    display: none;
  }
  .logop button{
    display: block;
  }

  .logo img{
    text-align: center;
    align-self: center;
  }

  .body-content{
    margin-top: 20px;
  }
  .body-content h1{
    font-size: auto;
  }
  .highlight-data{
    margin-top: 50px;
  }
}
